:root {
  --secion-color:#232536;
  --secion-color-light:#4C4C4C;
  --btn-light:#FFD050;
  --btn-dark:#EDC14A;
  --btn-cyan: rgb(0, 126, 126);
  --frame-color:#F4F4F4;
  --frame-active:#FBF6EA;
  --white-color:#FFFFFF;
  --grey-color:#F4F0F8;
  --grey-light:#6D6E76;
  --purple-color:#592EA9;
  --font-size-small:14px;
  --font-size:16px;
  --font-size-mid:18px;
  --font-size-medium:24px;
  --font-size-med:28px;
  --font-size-middle:36px;
  --font-size-big:48px;
  --font-size-bigger:56px;
  --font-navbar:16px;
}
